.solution-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 224px;
  background: #131317;
}
.solution {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 100px 24px;
  gap: 3rem;
  max-width: 1500px;
}
.left-solution {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  max-width: 660px;
}
.left-solution .desc {
  color: white;
}
.right-solution {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  column-gap: 40px;
  row-gap: 5rem;
}
@media screen and (max-width: 1200px) {
  .solution {
    flex-direction: column;
    align-items: center;
  }
  .left-solution {
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 758px) {
  .solution-cont {
    margin-top: 124px;
  }
  .left-solution {
    align-items: flex-start;
    text-align: left;
  }
  .right-solution {
    grid-template-columns: 1fr 1fr;
  }
}
