.about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 6rem;
}
.left-about {
  width: 540px;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-about {
  order: 2;
}
.left-about video {
  width: 100%;
  object-fit: cover;
}
.right-about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  max-width: 670px;
}
.top-sub {
  font-weight: 500;
  font-size: 12px;
  color: #a4a7af;
  text-transform: uppercase;
}
.main-head {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  color: #ffffff;
}
.desc {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #a4a7af;
}
@media screen and (max-width: 1226px) {
  .about-box {
    flex-direction: column;
    gap: 40px;
  }
  .left-about {
    height: auto;
    width: 95%;
    max-width: 400px;
    order: 1 !important;
  }
  .right-about {
    order: 2;
  }
}
@media screen and (max-width: 670px) {
  .top-sub {
    font-size: 11px;
  }
  .main-head {
    font-size: 28px;
  }
  .desc {
    font-size: 16px;
  }
}
